$navbar-default-bg: #ccccff;
$light-orange:#ff8c00;
$navbar-default-color: $light-orange;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  margin: 10px 10px 10px 0;
  float: left;
  font-size: 1.8em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: white;
  text-decoration: none;
}

body {
  padding-top:80px;
}

.nav_item {
  margin-left: 25px;
  float: left;
  margin-top: 20px;
}

.center {
  text-align: center;
}

h1, h2, h3, h4 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

.left {
  text-align: left;
  letter-spacing: .5px;
}

.footer {
  margin-top: 25px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.jumbotron {
  background-image: url("https://images.unsplash.com/photo-1448030081970-b7d1ae923ed6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=ff4ff7ec4d3577e8310a63c0c4490c56");
  color: white;
}

.jumbotron, h2 {
  color: white;
}